<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/stats.css}" rel="stylesheet">

    <title>Dashboard</title>
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SysInfo</a>
</nav>
<div class="container mt-2">
    <h1 class="text-light">Dashboard</h1>
    <div class="row">
        <!--/*@thymesVar id="services" type="java.util.List<org.springframework.cloud.client.ServiceInstance>"*/-->
        <div th:each="service : ${services}" class="col-md-6">
            <div class="card bg-secondary" th:data-url="${service.uri} + '/stats'" data-format="table">
                <div class="card-header" th:text="${service.metadata['collector']}">
                </div>
                <div class="card-body">
                    <table class="table table-hover table-borderless">
                        <thead>
                        <tr>
                            <th width="25%">Key</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody data-table>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-light">
                    Last update: <em data-last-update>never</em>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/momentjs/min/moment-with-locales.min.js}"></script>
<script th:src="@{/webjars/livestampjs/livestamp.min.js}"></script>
<script th:src="@{/webjars/filesize/lib/filesize.min.js}"></script>
<script th:src="@{/js/stats.js}"></script>
</body>
</html>
